{% extends 'core/home.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{{ title }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">💾 Lưu Dữ Liệu</button>
                            <a href="{% url 'custom_admin_dashboard' %}" class="btn btn-secondary">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const priceInput = document.getElementById('price_input');
    
    priceInput.addEventListener('input', function (e) {
        // Lấy giá trị đang gõ, xóa hết mọi thứ không phải số
        let value = e.target.value.replace(/\D/g, "");
        
        // Định dạng lại thành 25.190.000
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        
        // Gán lại vào ô nhập
        e.target.value = value;
    });
</script>
{% endblock %}