{% extends 'core/home.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow-lg border-0 rounded-4" style="width: 400px;">
        <div class="card-body p-4">
            <h5 class="fw-bold text-danger mb-4 text-center">ĐẶT MẬT KHẨU MỚI</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="small fw-bold mb-1">Mật khẩu mới</label>
                    <input type="password" name="new_password" class="form-control rounded-pill px-3" required>
                </div>
                <div class="mb-3">
                    <label class="small fw-bold mb-1">Xác nhận lại mật khẩu</label>
                    <input type="password" name="confirm_password" class="form-control rounded-pill px-3" required>
                </div>
                <button type="submit" class="btn btn-danger w-100 rounded-pill fw-bold shadow">CẬP NHẬT MẬT KHẨU</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}